*{
  margin: 0px;
}
header{
  background-color: white;
}
.liHeader{
  display: inline-block;
  padding: 20px;
  list-style: none;
}
a{
  color: black;
  text-decoration: none;
  padding: 10px;
}
#bootAny{
  font-size: 20px;
}
#listaUno{
  display: inline-block;
  float: left;
  width: 70%;
}
#listaDos{
  width: 30%;
  display: inline-block;;
  float: right;
}
.liHeader:hover{
  background-color: whitesmoke;
}
footer{
  background-color: 	#282828;
  color: white;
  bottom: 0%;
  margin-top: 10px;
  font-family: helvetica; 
}
.linkFooter{
  color: white;
  text-decoration: none;
  padding: 10px;
  list-style: none;
  display: inline-block;

}
.paddingFooter{
  padding: 0px 40px;
  font-size: 10px;
  font-family: helvetica;
}
.redesFooter:hover{
  background-color: none;
  text-decoration: underline;
}
