header{
  background-color: red;
  position: absolute;
}
li{
  display: inline-block;
  padding: 5px;

  list-style: none;
}
a{
  color: black;
  text-decoration: none;
  padding: 10px;
}
a:hover{

}
#bootAny{
  font-size: 20px;
}
#listaUno{
  display: inline-block;
  float: left;
  width: 70%;

}
#listaDos{
  width: 30%;
  display: inline-block;;
  float: right;
}
