
*{
  margin: 0;
}

#Uno {
  background-color: #563d7c;
  width: 100%;
  height: 660px;
  position: relative;
}
.letraB{
    margin-top: 200px;
    margin-left: 45%;
    position:absolute;
    font-family: Arial;
    background-color: transparent;
    border: 1px solid #cdbfe3;
    width: 144px;
    height: 144px;
    font-size: 108px;
    line-height: 140px;
    display: block;
    font-weight: 500;
    color: #fff;
    text-align: center;
    cursor: default;
    background-color: #563d7c;
    border-radius: 15%;
}
.textoP{
    font-family: sans-serif;
    margin: 0 auto 30px;
    font-size: 30px;
    color: #fff;
    font-weight: 300;
    line-height: 1.4;
    text-align: center;
    position: absolute;
    margin-top: 350px;
    margin-left: 25%;
}
#btn1{
    width: auto;
    padding: 15px 30px;
    font-size: 20px;
    color: #fff;
    background-color: transparent;
    border-color: #cdbfe3;
    line-height: 1.3333333;
    border-radius: 6px;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    position:absolute;
    margin-top: 500px;
    margin-left: 42%;

}
#textin{
    width:646px;
    height: 20px;
    background-color: transparent;
    color: #9783b9;
    margin-top: 580px;
    margin-left: 47%;
    position:absolute;


#Dos {
  width: 100%;
}

h2 {
  text-align: center;
  font-size: 2.3em;
  font-family: 'Roboto', sans-serif;
  color: #636261;
  margin-top: 10px;

}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  text-align: center;
  color: #636261;
  margin-top: 0;
  margin-bottom: 0;
}

.pSeccionDos {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #777777;
  font-size: 1.19em;
  width: 75%;
  margin-left: 130px;
}

hr {
  width: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.imgDos {
    width: 360px;
    margin-left: 20px;
}

.imgDescripcionSeccion2 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  clear: both;
  margin-top: 10px;
  margin-bottom: 60px;
  color: #777777;
  width: 93%;
  margin-left: 13px;
}

.imgDescripcionSeccion3 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  clear: both;
  color: #777777;
}

.linkP{
  text-decoration: none;
}

#botonDos{
  background-color: white;
  color: #563d7c;
  border-radius: 5px;
  border: 1px solid #563d7c;
  width: 220px;
  height: 50px;
  margin-left: 42%;
  margin-top: 10px;
  font-size: 1.05em;
  }


.areas {
  width: 30%;
  float: left;
  margin-left: 2.5%;




.parrafoTres{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  clear:both;
}

.imagenTres{
  width:300px;
  float:left;
  margin-left: 1px;
  padding:0;
  margin-bottom: 60px;
}

#imagenUno{
  width:300px;
  margin-left: 80px;
  float:left;
}
#lineaTres{
  clear:both;
  width:100px;
}

.parrafoTresDos{
  margin-top: 30px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  clear:both;


header{
  background-color: white;
}
.liHeader{
  display: inline-block;
  padding: 20px;
  list-style: none;
}
a{
  color: black;
  text-decoration: none;
  padding: 10px;
}
#bootAny{
  font-size: 20px;
}
#listaUno{
  display: inline-block;
  float: left;
  width: 70%;
}
#listaDos{
  width: 30%;
  display: inline-block;;
  float: right;
}
.liHeader:hover{
  background-color: whitesmoke;
}
footer{
  background-color: 	#282828;
  color: white;
  bottom: 0%;
  margin-top: 10px;
  font-family: helvetica; 
}
.linkFooter{
  color: white;
  text-decoration: none;
  padding: 10px;
  list-style: none;
  display: inline-block;

}
.paddingFooter{
  padding: 0px 40px;
  font-size: 10px;
  font-family: helvetica;
}
.redesFooter:hover{
  background-color: none;
  text-decoration: underline;

}
